@import '../../variables';
.slider-hero {
  position: relative;
  padding: 200px 250px 50px 50px;
  min-height: 1050px;
  display: flex;
  justify-content: flex-end;
  height: 65vw;
  z-index: 0;

  .slide {
    opacity: 0;
  }
  .slide.active {
    transition: 100ms ease;
    position: absolute;

    left: 0;
    top: 0;
    z-index: -1;

    height: 100%;
    width: 100%;

    opacity: 1;
  }
  &__btn {
    cursor: pointer;
    position: absolute;
    z-index: 3;
    width: 1.75vw;
    top: 40%;
  }
  .btn--left {
    left: 20px;
  }
  .btn--right {
    right: 20px;
  }
}

@media (max-width: 1200px) {
  .slider-hero {
    padding: 200px 10vw;
  }
}

@media (max-width: 700px) {
  .slider-hero__btn {
    top: 45%;
  }
}
