.slider-hero {
  position: relative;
  padding: 200px 250px 50px 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 1050px;
  display: flex;
  justify-content: flex-end;
  height: 65vw;
  z-index: 0;
  &__btn {
    cursor: pointer;
    position: absolute;
    z-index: 3;
    width: 1.75vw;
    top: 40%;
  }
  .btn--left {
    left: 20px;
  }
  .btn--right {
    right: 20px;
  }
}

@media (max-width: 1200px) {
  .slider-hero {
    padding: 200px 10vw;
  }
}

@media (max-width: 700px) {
  .slider-hero__btn {
    top: 45%;
  }
}
