@import '../../variables';

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: inherit;
  height: inherit;
}
.slider {
  width: inherit;
  height: inherit;
  .slide {
    width: inherit;
    height: inherit;
  }
}
.btns-slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  .btn-slider {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    width: 40px;
    height: auto;
  }
}
