@import '../../variables';

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 550px;
  justify-content: space-between;
}

.btns-slider-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  z-index: 2;
  .btn-slider {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    width: 2.3vw;
    height: auto;
  }
}

.slider {
  width: 100%;
  height: 100%;
  margin-bottom: -120px;
  .slide {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 700px) {
  .btns-slider-container {
    .btn-slider {
      width: 7vw;
    }
  }
}

@media (max-width: 580px) {
  .btns-slider-container {
    display: none;
  }
}
