@import '../../variables';

.proyect-leaders {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 100px;
  min-height: 900px;
  .purple-leaders {
    position: absolute;
    height: 80rem;
    z-index: -1;
  }
  .blue-leaders {
    position: absolute;
    height: 50rem;
    z-index: -1;
  }
  .diamond-leaders {
    opacity: 0.5;
    position: absolute;
    height: 70rem;
    min-height: 1000px;
    z-index: -1;
    top: -50px;
    max-width: none;
  }
  &__title {
    font-size: 3.25rem;
    span {
      background-color: white;
      border-radius: $box-radius;
      padding: 5px 15px;
      color: $blue;
    }
  }
  &__sub-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .leaders-box {
    background-color: $grey-07;
    border-radius: $box-radius;
    max-width: 900px;
    min-height: 600px;
    padding: 30px;
    width: 100%;
  }
}

@media (max-width: 1120px) {
  .proyect-leaders {
    .blue-leaders {
      display: none;
    }
    .purple-leaders {
      display: none;
    }
  }
}
