@import '../../variables';

.footer {
  height: 250px;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  background: $blue;
  padding-top: 30px;
}
.text--disclousure {
  background-color: red;
}
.companies {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    padding-bottom: 10px;
    border-bottom: 3px $white solid;
  }
}
//! Refactor Color
.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__text {
    font-weight: bold;
    font-size: 35px;
  }
  &__form {
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__input {
    padding: 5px 10px;
    width: 300px;
    margin: 10px;
    display: inline-block;
    color: $grey;
    border: none;
    height: inherit;
    border-radius: 10px;
  }
  //! revisar si se puede heredar de un btn general
  &__btn {
    height: inherit;
    position: relative;
    outline: none;
    left: -40px;
    border: none;
    border-radius: 10px;
    background-color: $purple;
    color: inherit;
    font-weight: bold;
    padding: 0 25px;
    cursor: pointer;
  }
}
.logo-img {
  width: 40px;
  height: 40px;
}
