@import '../../variables';

.proyect-card {
  margin: 0 auto;
  color: $grey;
  font-size: 18px;
  text-align: center;
  width: 225px;

  &__name {
    padding: 15px 35px;
    border-radius: $box-radius;
    background-color: $white-07;
    font-size: 25px;
    margin-bottom: 20px;
  }
  &__picture {
    margin: 0 auto 20px;
    width: 256px;
    height: 256px;
  }
  &__info {
    font-size: 20px;
  }
}
